<div class="row">
<div class="col-md-12">

<h1>Teams</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Score</th>
      <th>Wrong Answers</th>
      <th colspan="3">Solved Challenges</th>
    </tr>
  </thead>

  <tbody id="score">
    <% @teams.each do |team| %>
     	<% if team.id != 5 %>
	 <tr>
        <td><%= team.name %></td>
        <td><%= team.score %></td>
        <td><%= team.fault %></td>
        <td>
          <% @contest.challenges.each do |challenge| %>
            <% if team.challenges_ids.include? challenge.id %>
               <%= challenge.name %> - 
            <% end %>
          <% end %>
        </td>
	</tr>
	<% end %>
    <% end %>
  </tbody>
</table>
</div>
</div>
 <script type="text/javascript">
            setTimeout(Refresh, (1000 * 60));
            function Refresh()  {
                     location.reload();
            };
        </script>
