      <div class="row">
      <div class="col-md-12">
        <h1>You P0WN</h1>
      </div>
        <div class="col-md-12">


<div class="bg" style="background-color: #00020C;">
  <%= video_tag "HMIYC.mp4", id: "video-background", preload:"preload" , muted:"muted" , autoplay:"autoplay", loop:"loop" %>
</div>

<div class="jumbotron">
    <h1>Welcome to You P0WN</h1>
  <p class="lead"> The fast, easy, and affordable way to train your hacking skills.
challenge your hacking skills</p>
<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>
</div>
