<hr style="width: 25%;">
<footer id="footer">
<div class="row text-center">
<div class="columns small-12">
<%= image_tag "logo.png", alt: "You P0WN", width: "48", height: "48" %>
</div>
<div class="columns small-12">
©&nbsp;2016&nbsp;-&nbsp;You P0WN : Hacking and Information Security learning platform
</div>
</div>
</footer>